<div class="modal-header">
  <h4 class="modal-title">3. Failure Details</h4>
</div>

<table class="table table-hover" st-table="panels">
  <thead>
    <tr>
      <th class="col-xs-2">Frame #</th>
      <th class="col-xs-2">Qty Rejected</th>
      <th class="col-xs-8">Reason to Reject</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info" ng-repeat-start="panel in panels">
      <th colspan="3">
        <span>{{panel.material}}/{{panel.colour}} &#64;</span>
        <span>{{panel.width|fraction}}″ x {{panel.height|fraction}}″ x {{panel.depth|fraction}}″</span>
      </th>
    </tr>

    <tr class="well" ng-repeat-end>
      <td>
        <select class="form-control" ng-options="o as o for o in panel.frame_numbers"
            ng-model="panel.frame_number" required></select>
      </td>
      <td><input class="form-control" type="number" min="1" ng-model="panel.rejected" required></td>
      <td><input class="form-control" type="text" ng-model="panel.rejected_reason" required></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
      </td>
    </tr>
  </tfoot>
</table>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$uibModalInstance.dismiss()"><i class="fa fa-ban"></i> Cancel</button>
  <button class="btn btn-primary" ng-click="$uibModalInstance.close(panels)" ng-disabled="!isValid()">
    <i class="fa fa-check"></i> Submit
  </button>
</div>
